@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #e5e3dc;
  --link-color: #e2e2dc;
--overlay-bg: #0a0a0a;
}

*{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

@font-face {
    font-family: neue-thin;
    src: url(./fonts/neue/NeueHaasDisplay-Thin.ttf);
  }

@font-face {
    font-family: neue-medium;
    src: url(./fonts/neue/NeueHaasDisplay-Mediu.ttf);
  }

@font-face {
    font-family: neue-medium;
    src: url(./fonts/neue/NeueHaasDisplay-Light.ttf);
  }

@font-face {
    font-family: proxima;
    src: url(./fonts/proxima/Proxima\ Nova\ Font.otf);
  }
@font-face {
    font-family: galgo;
    src: url(./fonts/galgo/Galgo.ttf);
  }

@font-face {
    font-family: pop-medium;
    src: url(./fonts/pop/Popstone-Medium.ttf);
  }
@font-face {
    font-family: pop-bold;
    src: url(./fonts/pop/Popstone-Bold.ttf);
  }
@font-face {
    font-family: pop-xbold;
    src: url(./fonts/pop/Popstone-ExtraBold.ttf);
  }
@font-face {
    font-family: pop-thin;
    src: url(./fonts/pop/Popstone-Thin.ttf);
  }



  body{
    background:none;}
  .bg-active{
    background-color: #e5e3dc;
  }
.galgo{
  font-family: galgo;
}
.neue-thin{
  font-family: neue-thin;
}
.neue-medium{
  font-family: neue-medium;
}
.pop-bold{
  font-family: pop-bold;
}
.pop-medium{
  font-family: pop-medium;
}
.pop-thin{
  font-family: pop-thin;
}



.item {
  width: inherit;
  height: inherit;
  /* background: white; */
  transform-origin: 50% 100%;
}
  /* framer default */
  /* body {
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;
  
    --background: var(--pink);
    --accent: var(--white);
  
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--accent);
    padding-bottom: 100px;
    overflow: hidden;
  } */

  .pink{
    background-color: #ff0066;
  }
    .yellow{
      background-color: #F3F802;
    }

  .green{
       background-color: #55FC06;
  }
  .bg-green{
       background-color: #22dddd;
  }
  .bg-sky{
       background-color: #4be603;
  }
  .dusk{
    background-color: #6600ff;
  }
.shadow{
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.text{

text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}
.texxtt{

text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

}
.texxt{

text-shadow: 0px 0.2px 0.2px rgba(0, 0, 0, 0.25);

}
  
  .box {
    width: 100px;
    height: 90px;
    background: white;
  }
  
 
  
  body{
    background:none;
  }
  
  .nav-section {
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 24px;
  
  }

  .neo{

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), -10px 10px 0px greenyellow;
  }
  .neobutton{

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), -10px 10px 0px #111;
  }

  
   .bg-pink{
    background-color: #ff0066;
   }

   @media(max-width:620px) {
    .bg-pinkk{
      background-color: #ff0066;
    }
   }

   @media(max-width:620px) {
    .bg-textsm{
      background: url(assets//lady.png);
      background-size: cover;
   
      background-position: 35%;
      background-color: #ff0066;
       background-repeat: no-repeat; 
  
    }
   }
   @media(min-width:620px) {
    .bg-textmd{
      background: url(assets//lady.png);
      background-size: cover;
     
      background-position: 35%;
      background-color: #ff0066;
       background-repeat: no-repeat; 
  
    }
   }

   /* pixel card/////////////////////////////////////////////////////////////////////////
   //////////////////////////////////////////////////////////////////////// */
   .card-containery {
    overflow: hidden; /* Prevents overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: -80px;
    position: relative;
    width: 100vw;
  }
  
  .splash {
    background-color: #55FC06;
    width: 100%;
    height: 100%;
  }


   .card {
    font-size: 10vw;
    width: 80vw;
    max-width: 300px;
    height: auto;
    aspect-ratio: 2/3;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 
                0 0 2px hsl(0deg 0% 0% / 0.075),
                0 0 4px hsl(0deg 0% 0% / 0.075), 
                0 0 8px hsl(0deg 0% 0% / 0.075),
                0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
  }
  


  @media (min-width: 768px) {
    .card {
      font-size: 8vw;
      width: 40vw;
      max-width: 300px;
    }
  
    .card-containery {
      margin-bottom: -100px;
    }
  }
  
  @media (min-width: 1024px) {
    .card {
      font-size: 6vw;
      width: 30vw;
      max-width: 300px;
    }
  
    .card-containery {
      margin-bottom: -120px;
    }
  }
  

   /* pixel card */
   .ccard{
    display: flex;
    overflow: hidden;
    position: relative;
   
    margin-bottom: -80px;
    transform-origin: 10% 60%;
   }

   .xard{
    aspect-ratio: 2/3;
    transform-origin: 10% 60%;
    height: auto;
   }


  /* img */
  .boxy {
    width: 200px;
    height: 200px;
    background: var(--accent);
  }
  
  /* img */

 
  .app-container {
    height: 65vh; /* Makes the page scrollable */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .taco-container {
    perspective: 1000; /* Enables 3D effect */
  }
  
  .taco-image {
    width: 300px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  